@import "../../variables.scss";

.telegramCard {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 700px;
  margin: 0 auto;
}

.videoContainer {
  height: 100%;
  width: 100%;
}

.video {
  height: 300px;
  border-radius: 15px;
  display: flex;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.telegramBtn1Container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.telegramIcon {
  height: 24px;
  width: 24px;
  margin-left: 5px;
}

.telegramBtn1 {
  align-items: center;
  background-clip: padding-box;
  background-color: $primary;
  border: 1px solid transparent;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgb(242, 242, 242);
  font-size: 18px;
  font-weight: bolder;
  justify-content: center;
  line-height: 1.25;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  cursor: pointer;
}

.telegramBtn1:hover {
  background-color: #fb823200;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  border: 1px solid rgb(35, 175, 222);
  color: rgb(35, 175, 222);
}

.telegramBtn1:hover {
  transform: translateY(-1px);
}

.telegramBtn2Container {
  display: none;
}

@media only screen and (max-width: 767px) {
  .telegramCard {
    display: inline-block;
    justify-content: center;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
  }

  .telegramInfoContainer {
    width: 300px;
    margin: 0 auto;
  }

  .videoContainer {
    margin-top: 25px;
  }

  .telegramP {
    text-align: center;
  }

  .telegramBtn1Container {
    display: none;
  }

  .telegramBtn2Container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  .telegramBtn2 {
    align-items: center;
    background-clip: padding-box;
    background-color: $primary;
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgb(242, 242, 242);
    font-size: 18px;
    font-weight: bolder;
    justify-content: center;
    line-height: 1.25;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    cursor: pointer;
  }

  .telegramBtn2:hover {
    background-color: #fb823200;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    border: 1px solid rgb(35, 175, 222);
    color: rgb(35, 175, 222);
  }

  .telegramBtn2:hover {
    transform: translateY(-1px);
  }
}
