@import "../../variables.scss";

.card {
  border: none;
  transition: transform 0.2s;
  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  img {
    width: 100%;
    border-radius: 15px;
    border: $primary solid 2px;
  }

  p {
    padding: 5px;
    padding-top: 10px;
  }

  &:hover {
    transform: scale(1.1);
  }
}
